{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title"><strong>Car Categories</strong></h3></div>
			<div class="list-group">
				{% for category in categories %}
				<a href="/catalog/{{category.id}}/items" class="list-group-item">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-8">
		{% with messages = get_flashed_messages() %}
		{% for message in messages %}
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ message }}
		</div>
		{% endfor %}
		{% endwith %}
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title"><strong>{{categoryItem.title}}</strong></h3></div>
			<div class="panel-body">
				<p>{{categoryItem.description}}</p>
			</div>
			{% if 'username' in session and session.get('user_id') == categoryItem.user_id %}
			<div class="panel-footer">
				<a href="/catalog/{{categoryItem.category_id}}/item/{{categoryItem.id}}/edit" class="btn btn-primary" role="button">Edit</a>
				<a href="/catalog/{{categoryItem.category_id}}/item/{{categoryItem.id}}/delete" class="btn btn-danger pull-right" role="button">Delete</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}